{% extends 'base.html' %}
{% block title %}Add Evidence{% endblock %}
{% block content %}
    <h2>Add Evidence</h2>
    <!-- <form method="POST"> -->
    <form action="{{ url_for('add_evidence') }}" method="POST">
        <!-- {{ csrf_token() }} -->
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.id.label }} {{ form.id(class="form-control") }}</div>
        <div class="mb-3">{{form.description.label}} {{form.description(class="form-control")}}</div>
        <div class="mb-3">
            {{ form.crime_id.label(class="form-label") }}
            {{ form.crime_id(class="form-select") }}
            {% if form.crime_id.errors %}
              <div class="text-danger">
                {% for err in form.crime_id.errors %}
                  {{ err }}
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.police_officer_id.label(class="form-label") }}
            {{ form.police_officer_id(class="form-select") }}
            {% if form.police_officer_id.errors %}
              <div class="text-danger">
                {% for err in form.police_officer_id.errors %}
                  {{ err }}
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="mb-3">{{ form.submission_date.label }} {{ form.submission_date(class="form-control", type="date") }}</div>

    
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
{% endblock %}
